<div class="event">
  <div class="content">
    <div class="summary">
      <span class="user-span">
        <%= message.user.username %>
      </span>: <%= message.body %>
    </div>
  </div>
</div>
