@import 'semantic-ui';


.chatbox{
    height: 450px;
}

.user-span{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    font-style: italic;
}

body > .grid {
	height: 100%;
}

.custom-center{
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-column {
	max-width: 600px;
}

.field_with_errors{
    width: 100%;
}

.field_with_errors input{
    width: 100% !important;
}

.field{
    width: 100% !important;
    margin: 10px 0px !important;
}

.ui.left.input {
    width: 100% !important;
}

.ui.left.input input {
    padding: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.ui.left.input input::placeholder{
    color: #bbb;
}

#msg-container-parent{
    height: 300px;
    overflow-y: scroll;
}