<%# Flash Message %>
<% flash.each do |name, msg|
%>
  <div class="ui container">
    <div class="ui <%= name %> message transition">
      <i class="close icon" id="close"></i>
      <div class="header">
        <%= msg%>
      </div>
    </div>
  </div>
<% end %>