<div class="ui inverted menu large">
  <div class="ui container">
    <a href="#" class="header item">
      Message Me Chat App
    </a>
    <a href="#" class="item"><i class="home icon"></i>Home</a>
    <a href="/" class="item"><i class="chat icon"></i> Chatroom</a>
    <div class="ui dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
          <a class="ui basic teal button" href="/login"><i class="sign in icon"></i>Log in</a>
        </div>
        <div class="item">
          <a class="ui basic blue button" href="#"><i class="add user icon"></i>Sign up</a>
        </div>
    </div>
  </div>
</div>
